<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Download File</title>
	<style>
		body {
			background-color: aqua;
		}
		.container {
			position: fixed;
			top: 400px;
			right: 900px;
			border-style: outset;
			border-radius: 50px;
			text-align: center;
		}
		.container label {
			font-size: 20px;
			color: #ffffff;
		}
	</style>
</head>
<body>
	<div class="container">
		<form action="/verification/{{ filename }}" enctype="application/x-www-form-urlencoded" method="POST">
			<label>请输入秘钥：</label>
			<br />
			<input name="PassWord" type="PassWord"/>
			<input type="submit"/>
		</form>
	</div>
	<script>
		function judge() {
			let str = (navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i)) ? 'app': 'pc';
			return str;
		}
		if (judge() == "app") {
			window.location.href="/download_app/{{ filename }}";
		}
	</script>
</body>
</html>