<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Download File</title>
	<style>
		body {
			background-color: aqua;
		}
		.container {
			background-color: black;
			position: fixed;
			top: 400px;
			right: 300px;
			border-style: outset;
			border-radius: 50px;
			text-align: center;
			width: 400px;
			height: 200px;
		}
		.container label {
			font-size: 40px;
			color: #ffffff;
		}
	</style>
</head>
<body>
	<div class="container">
		<form action="/verification/{{ filename }}" enctype="application/x-www-form-urlencoded" method="POST">
			<label>请输入秘钥：</label>
			<br />
			<input name="PassWord" type="PassWord"/>
			<input type="submit"/>
		</form>
	</div>
</body>
</html>