<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ file.split("/")[-1] }}</title>
	<style>
		.file {
			background-color: blue;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			text-align: center;
		}
		.file img {
			clear: both;
			display: block;
			margin: auto;
		}
	</style>
</head>
<body>
	<div class="file">
		<a href="{{ file }}" download="{{ file.split("/")[-1] }}">
			{% if file.split("/")[-1].split('.')[-1] in ['jpg', 'png', 'gif']: %}
				<img src="{{ file }}"/>
			{% else: %}
				file.split("/")[-1]
			{% endif %}
		</a>
	</div>
</body>
</html>