<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/index.css') }}" />
	<title>JinWeb</title>
</head>
<body>
	<div class="Title">
		<h1>Jin-Web</h1>
	</div>
	<div class="card">
	    <div class="photo">
	        <img src="{{ url_for('static', path='/image/login.jpg') }}" alt="">
	    </div>
		<h1>JinWeb</h1>
		<br />
	    <h2>Version:{{ Version }}</h2>
	    <p>欢迎使用JinWeb! 这里是主页信息详细命令请到终端输入：JinWeb --help</p>
	    <a href="/log">查看日志</a>
	</div>
	<script>
		function judge() {
			let str = (navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i)) ? 'app': 'pc';
			return str;
		}
		if (judge() == "app") {
			window.location.href="/app";
		}
	</script>
</body>
</html>