<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/share.css') }}" />
	<title>share</title>
</head>
<body>
	{% for key, value in Files.items() %}
		<ul>
			<li>
				<p style="color: #ffff00;">
				{% if value['file'].split('/')[-1].split('.')[-1] in ['jpg', 'png', 'gif', 'jpeg']: %}
					{% if value['key'] == "None": %}
						<a href="{{ value['file'] }}" download="{{ value['file'].split('/')[-1] }}">
							<img src="{{ value['file'] }}" width="100" alt="{{ key }}"/>
						</a>
					{% else: %}
						<a href="/download/{{ key }}">
							{{ key }}
						</a>
					{% endif %}
				{% else: %}
					{% if value['key'] == "None": %}
						<a href="{{ value['file'] }}">{{ key }}</a>
					{% else: %}
						<a href="/download/{{ key }}">{{ key }}</a>
					{% endif %}
				{% endif %}
				分享者：{{ value['user'] }}
				</p>
			</li>
		</ul>
	{% endfor %}
	<script>
		function judge() {
			let str = (navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i)) ? 'app': 'pc';
			return str;
		}
		if (judge() == "app") {
			window.location.href="/share_app";
		}
	</script>
</body>
</html>